@import url("components/avatar.css");
@import url("components/main-info.css");
@import url("components/profesional-skills.css");
@import url("components/personal-skills.css");
@import url("components/study.css");
@import url("components/contact.css");
@import url("layouts/pages.css");
@import url("layouts/sections.css");

/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One');
 */
body, h2, p {
  font-family: 'Karma', serif; important!
}

h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #40403F;
}







