.big-container {
  display: flex;
  margin: 10px 30px;
  text-align: center;
}

.left-container {
  border-right: 0.5px solid #D5D5D4;
  background-color: #D5D5D4;
  padding: 0 20px;
}

.right-container {
  padding-top: 80px;
}

/*LINEA VERTICLA QUE DIVIDE*/
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
