
.skills-container {
  position: relative;
}
.skill {
}

.chart-text {
  color: #626261;
  font-size: 12px;
  margin:0px;
  position: relative;
}

.chart-number {
  font-size: 5px;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.1em);
}

.chart-label {
  font-size: 3.5px;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.8em);
}
.chart-number-long {
  font-size: 4.5px;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.1em);
}
