
.progress-bar-back {
  border: 1px solid #0F5257;
  width: 90%;
  height: 10px;
  border-radius: 50px;
  background: transparent;
  position: relative;
  left: 10px;
}
.progress-bar-front {
  height: 100%;
  border-radius: 50px;
  background: #0F5257;
  border: 1px solid #0F5257;
}

.professional-skill-title {
  text-align: center;
}

.professional-skill-title p {
  margin-top: 5px;
  font-size: 12px
}

.skills-title {
  font-size: 20px;
  font-family: 'Karma', serif;
  margin-top: 20px;
  font-weight: 700;
}
