.study-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.study-detail {
  font-size: 17px;
  font-family: 'Karma', serif;
  margin: 2px 4px;
  width: 180px;
}

.study-detail-title {
  font-weight:700;
}

.study-info-main {
  width: 200px;
  text-align: left;
  margin: 0 5px;
}
.study-info-det {
  width: 180px;
  text-align: left;
}

.education {
  padding: 0px 90px;
  margin-top: 100px;
}

.study-number {
  border: 2px solid black;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  text-align: center;
}
